/* Animations */
@-webkit-keyframes scale-in-ver-top {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
}

@keyframes scale-in-ver-top {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
}



.Amul_navbar,
.mobile_navbar {
    z-index: 100;
    background-color: transparent;
    width: 100%;
    height: 8%;
    position: absolute;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-2);
}

.mobile_navbar {
    display: none;
    align-items: center;
    justify-content: center;
}

.navbar_child_0,
.navbar_child_2,
.navbar_child_1 li {
    background-color: var(--color-1);
}

.navbar_child_0 {
    flex: 1.5;
}

.navbar_child_1 {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_child_1 li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_child_1 li:hover {
    cursor: pointer;
}

.navbar_child_2 {
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_child_2 input {
    border-radius: 12px;
    width: 100%;
    height: 60%;
    border: none;
    margin: 3px;
    outline: none;
    border: none;
    padding-left: 5px;
}

.navbar_child_2 input::placeholder {
    padding-left: 5px;
    font-weight: bold;
    color: var(--color-2);
}

.amul_navbar_active {
    background-color: transparent !important;
}

.navbar_dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(131, 233, 233, 0.285);
    width: max-content;
    max-width: 60%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: max-content;
    max-height: 85vh;
    position: absolute;
    top: 11%;
    left: 40%;
    -webkit-animation: scale-in-ver-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-ver-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    z-index: 5;
}

.navbar_dropdown a {
    text-decoration: none;
    color: var(--color-2);
    margin: 5px;
    padding: 5px;
    font-weight: bold;
}

.navbar_dropdown a:hover {
    margin-bottom: 2px;
    text-decoration: underline;
}

.mobile_navabar_child_1 {
    position: absolute;
    background-color: rgba(131, 233, 233, 0.285);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    height: 70%;
    width: 70%;
    position: absolute;
    flex-direction: column;
    top: 8%;
    z-index: 3;
    left: 5px;
    margin: auto;
    color: var(--color-3);
    cursor: pointer;
    font-weight: bold;
}

/* media queries */
@media screen and (max-width:1080px) {

    .Amul_navbar,
    .navbar_child_2 input::placeholder {
        font-size: 13px;
    }
}

@media screen and (max-width:950px) {

    .Amul_navbar,
    .navbar_child_2 input::placeholder {
        font-size: 12px;
    }
}

@media screen and (max-width:850px) {

    .Amul_navbar,
    .navbar_child_2 input::placeholder {
        font-size: 11px;
    }
}

@media screen and (max-width:750px) {

    .Amul_navbar,
    .navbar_child_2 input::placeholder {
        font-size: 10px;
    }
}


@media screen and (max-width:550px) {
    .Amul_navbar {
        display: none;
    }

    .mobile_navbar {
        display: flex;
    }

    .navbar_dropdown {
        font-size: 12px;
        left: 20%;
    }
}